<ul>
<% @checkpoints.each do |checkpoint| %>
<li><a href="/cpm/checkpoints/<%= checkpoint.checkpoint_id %>"><%= checkpoint.checkpoint_name %></a>: <%= 
checkpoint.num_checked_in %> checked in</li>
<% end %>
</ul>
