<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^css(/)?$  style.css [R]
RewriteRule ^agent/set(/)?$  _setcid.php [R]
RewriteRule ^agent/set/([a-zA-Z0-9]+)?$  _setcid.php?cid=$1 [R]
RewriteRule ^agent/checkin/([a-zA-Z0-9]+)?$  _checkin.php?rid=$1 [R]
RewriteRule ^register/([a-zA-Z0-9]+)?$  _reg.php?rid=$1 [R]
RewriteRule ^clear(/)?$  _clearallcookies.php [R]
RewriteRule ^agent/autoregistration/([a-zA-Z0-9]+)?$ _autoregistration.php [R]
RewriteRule ^agent/autoregistration(/)?$ _autoregistration.php [R]

# Does this user have a jlog-cid cookie? If so forward them to the checkin page
RewriteCond %{HTTP_COOKIE} jlog-cid [NC] 
RewriteRule ^([a-zA-Z0-9]+)?$ _checkin.php?rid=$1 [L]

# Catch all
RewriteRule ^([a-zA-Z0-9]+)?$ index.php?rid=$1 [R]
</IfModule>

#RewriteCond %{QUERY_STRING} blech=([a-zA-Z0-9]+)
#RewriteRule ^/.* [E=RID:%1]
#RewriteRule ?param=([a-z0-9]+) $0 [E=RID:$1,NC]
#RewriteCond %{HTTP_COOKIE} jlog-rid=%1
#RewriteRule  register/%1
#RewriteRule ^agent/app/autocheckin/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)?$ _autocheckin.php?cid=$1&rid=$2 [R]
