<h2>Player List</h2>

<h3>Runners:</h3>
<ol>
<style>
li {
	height: 100px;
	padding: 2px;
}
</style>
<% @ordered_runners.each do |runner| %>
  <li>
  <%= runner.img_link.html_safe %>
  <%= "<div class='runnerlist'><a href='/20110618-sf/cpm/runners/#{runner.runner_id}'>#{runner.runner_id}<br><big><big><big>#{runner.player_name}</big></big></big></a></div>".html_safe %>
  </li>
<% end %>

</ol>

<br />

<h3>Chasers:</h3>

<ol>

<% @ordered_chasers.each do |runner| %>
  <li>
  <%= runner.img_link.html_safe %>
  <%= "<div class='runnerlist'><a href='/20110618-sf/cpm/runners/#{runner.runner_id}'>#{runner.runner_id}<br><big><big><big>#{runner.player_name}</big></big></big></a><br><br><big>Tagged #{runner.tags.size} runners</big></div>".html_safe %>
  </li>
<% end %>

</ol>
