html { 
	/* height: 100% */
	background-color: #666;
}

body {
	margin: 0px; 
	padding: 5px; 
	position: absolute;
	top: 0px;
	left: 50%;
	margin: 0 0 0 -450px;
	border: 0 1px 0 1px solid #BBB;
	background-color: #EEE;
	width: 900px;
	height: 100%;
}

.chaser {
   border:2px solid #dd0000;
}

.map_canvas { 
	height: 600px !important;
	width: 100%;
	position: relative;
}